<div class="col-md-12" ng-controller="HomeCtrl">
	<div class="container">
		<div class="jumbotron">
			<h1>News Finder</h1>
		</div>
	</div>
	<div class="container" ng-show="showDiv">
		<label for="Title">Title</label>
		<input type ="text" 
			   placeholder = "Title"
			   ng-model = "news.title"
			   class="form-control"
			   id="Title"
			   required>
	    <label for="Description">Description</label>
	    <input type="text"
	    		ng-model = "news.description"
	    		placeholder = "Description"
	    		class="form-control" 
	    		id="Description"
	    		required>
	    		<br>
		<input type="submit" class="btn btn-info btn-block" value="Save" ng-click="save(news)">
		<input type="submit" class="btn btn-info btn-block" value="Cancel" ng-click="cancel()"><br><br>

	</div>
	<div class="container" ng-hide="showDiv">
	<input type="submit" class="btn btn-info btn-block" value="Add News" ng-click="show()">
	<br><br>
	</div>
	<div class="container">
		<div class = "jumbotron">
		<table class="table table-striped">
		
			<tr ng-repeat="details in newses">
				<td>{{details.title}}</td>
				<td>{{details.description}}</td>
				<td><span  ng-class="{'true':'btn btn-success btn-s','false':'btn btn-danger btn-s'}[details.voteCount > -1]"><span class="badge">{{details.voteCount}} </span></td>
				<td>
				<button type="submit" value="Up" class="btn btn-info btn-xs" ng-click="up(details,newses)"><span class="glyphicon glyphicon-arrow-up"></span></button>
				<button type="submit" value="Down" class="btn btn-info btn-xs" ng-click="down(details,newses)"> <span class="glyphicon glyphicon-arrow-down"></span></button></td>
			</tr>			
		</table>
		</div>
	</div>
</div>
